<div class="nav">
    <h3 class="nav-title">Meni</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Zatvori</span>
    </a>
    <ul>
        {{#if @blog.logo}}<li class="meni-logo"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></li>{{/if}}
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Pratite nas</a>
</div>
<span class="nav-cover"></span>
